package http

import (
	bm "github.com/go-kratos/kratos/pkg/net/http/blademaster"
	"{{.Name}}/service"
)

var (
	svc *service.Service
)

func Router(s *service.Service, e *bm.Engine) {
	svc = s
	g := e.Group("/api")
	{
		s := g.Group("/scan")
		{
		    // write router .....
		}
	}
}
