# Please copy this `config.yaml.example` to `config.yaml` and edit it\
# This example is Docker Image default config file

server:
  http:
    addr: 0.0.0.0:4399
    timeout: 30s
  grpc:
    addr: 0.0.0.0:9000
database:
  mysql:
    api: "?writeTimeout=3s&parseTime=true&loc=Local&charset=utf8mb4,utf8"
  postgres:
    api: "host=localhost user=gorm password=gorm dbname=gorm port=9920 sslmode=disable"
redis:
  proto: tcp
  addr: redis:6379
  password:
  read_timeout: 1s
  write_timeout: 1s
  idle: 10
  active: 100
UI:
  enable_substrate: true
  enable_evm: true