# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: subscan

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macOS-latest, ubuntu-latest, windows-latest]
    steps:
    # Set up golang env
    - name: Set up GO 1.13
      uses: actions/setup-go@v1
      with:
        go-version: 1.13
      id: go
    # Checkout Go module directory
    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
    # Cache Go Modules
    - name: Cache Go Modules
      uses: actions/cache@v1
      env:
        cache-name: cache-go-modules
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-build-${{ env.cache-name }}
        restore-keys: |
          ${{ runner.os }}-build-
          ${{ runner.os }}-
    # Get Deps
    - name: Get dependencies
      run:  go mod download

    # Build packages
    - name: Build
      run: make
    
    # Trigger api tests when merge
    - name: Tests
      run: go test -v ./...
  golangci:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v1
        with:
          version: v1.26
        run: golangci-lint run ./... --skip-dirs plugins/balance --skip-dirs plugins/system